@media (min-width: 768px) {
    .container {
        width: 720px;
        max-width: 100%;
    }
}
@media (min-width: 576px) {
    .container {
        width: 540px;
        max-width: 100%;
    }
}
@media (min-width: 768px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (min-width: 576px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}
.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

a {
    text-decoration: none;
    color:#0275d8;
}

a:focus, a:hover {
    color: #014c8c;
    text-decoration: underline;
}